.glider-track {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    z-index: 1;
    }
    .glider::-webkit-scrollbar {
    opacity: 0;
    height: 0;
    }
    .glider-prev, .glider-next {
      user-select: none;
      position: absolute;
      outline: none;
    position: absolute;
    padding: 2px 2px 2px 3px;
    background: none;
    width: 51px;
    z-index: 2;
    font-size: 40px;
    text-decoration: none;
    left: -42px;
    border: 0;
    top: 40%;
    cursor: pointer;
    color: #a89cc8;
    opacity: 1;
    line-height: 1;
    transition: opacity .25s cubic-bezier(.17,.67,.83,.67),
      color .5s cubic-bezier(.17,.67,.83,.67);
    }
    #main .glider-prev:hover, #main .glider-next:hover,
    #main .glider-prev:focus, #main .glider-next:focus {
    color: #8cc9f0;
    }
    #main .glider-prev:focus-visible i, #main .glider-next:focus-visible i {
      border: 1px dashed #666;
    }
    .multiple .glider-prev, .multiple .glider-next {
    font-size: 20px;
    top: 37%;
    }
    .glider-next {
    right: -45px;
    left: auto;
    }
    .multiple .glider-next {
    right: -42px;
    }
    .multiple .glider-prev {
    left: -42px;
    }
    .glider-next.disabled,
    .glider-prev.disabled {
    opacity: .25;
    color: #666;
    cursor: default;
    }
    .glider-slide {
    justify-content: center;
    align-content: center;
    background:#f5f5f5;
    width: 100%;
    }
    .glider-hide {
    opacity: 0;
    }
    .glider-dots {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
    }
    .glider-dot {
      background: none;
      border: 0;
      padding: 0;
      outline: none;
      display: block;
      cursor: pointer;
      color: #ccc;
      border-radius: 99px;
      background: #ccc;
      width: 12px;
      height: 12px;
      margin: 7px;
      padding: 0;
      border: 0;
    }
    .glider-dot:hover, .glider-dot:focus {
      background: #8cc9f0;
    }
    .glider-dot:focus-visible {
      border: 1px dashed #000;
      padding: 2px;
    }
    .glider-dot.active {
    background: #a89cc8;
    }
    @media(max-width: 36em){
    .glider::-webkit-scrollbar {
      opacity: 1;
      -webkit-appearance: none;
      width: 7px;
      height: 3px;
    }
    .glider::-webkit-scrollbar-thumb {
      opacity: 1;
      border-radius: 99px;
      background-color: rgba(156, 156, 156, 0.25);
      -webkit-box-shadow: 0 0 1px rgba(255,255,255,.25);
      box-shadow: 0 0 1px rgba(255,255,255,.25);
    }
    }
    .glider-contain {
    padding: 100px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    }
    .glider {
    margin: 0 auto;
    position:relative;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    }
  
    /* misc */
    .glider-slide img {
    width: 100%;
    height: 300px;
    }
    .glider-contain {
    padding: 0px;
    width: 75%;
    margin: 0 auto;
    }
    .glider-contain.content {width: 100%;}
    .glider-slide {
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #f5f5f5;
    border-bottom: 0;
    }
    .multiple .glider-slide {
    min-height: 150px;
    }
    .demo {
    padding: 60px 0;
    border-top: 1px solid #ddd;
    }
    .demo.first{
    border-top: 0;
    padding-top: 0;
    }
    @media(max-width: 575px){
    .glider-contain {
      width: 95%;
  
    }
  
    .glider-prev, .glider-next {
      font-size: 25px;
    }
  
    .glider-slide {
      min-height: 180px;
    }
    .multiple .glider-slide {
      min-height: 100px;
      }
      .demo {
        padding: 40px 0;
      }
    }
  
  